<div class="control">
  <button type="button" {{on "click" @start}} >Start</button>
  <button type="button" {{on "click" @restart}} >Restart</button>
  <button type="button" {{on "click" @next}} >Next</button>
</div>